services:
  app:
    image: python:3.13-slim
    working_dir: /app
    volumes:
      - ./:/app
    command: >
      bash -c "pip install uv==0.9.28 &&
               uv pip install --system --no-cache-dir -r requirements.txt &&
               streamlit run app.py"
    environment:
      VIRTUAL_HOST: wybory.janczechowski.com
      VIRTUAL_PORT: 8501
      LETSENCRYPT_HOST: wybory.janczechowski.com
    networks:
      - nginx-proxy
    restart: unless-stopped

networks:
  nginx-proxy:
    external: true
